<suite name="Swarmio Hive">
    <test name="Default QA Swarmio Hive test">
        <classes>
            <class name="HomePageSmokeTest"/>
            <class name="CreateTeam"/>
        </classes>
    </test>
    <test name="Globe QA Swarmio Hive test">
        <classes>
            <class name="HomePageSmokeTestGlobe"/>
            <class name="CreateTeamGlobe"/>
        </classes>
    </test>
    <test name="Etisalat QA Swarmio Hive test">
        <classes>
            <class name="HomePageSmokeTestEtisalat"/>
            <class name="CreateTeamEtisalat"/>
        </classes>
    </test>
    <test name="Ooredoo QA Swarmio Hive test">
        <classes>
            <class name="HomePageSmokeTestOoredoo"/>
            <class name="CreateTeamOoredoo"/>
        </classes>
    </test>
</suite>