<suite name="Swarmio Hive">
    <test name="Default QA Swarmio Hive test">
        <classes>
            <class name="HomePageSmokeTest"/>
            <class name="CreateTeam"/>
            <class name="RegisterNewUser"/>
        </classes>
    </test>
    <test name="Globe QA Swarmio Hive test">
        <classes>
            <class name="HomePageSmokeTestGlobe"/>
            <class name="CreateTeamGlobe"/>
            <class name="RegisterNewUserGlobe"/>
        </classes>
    </test>
    <test name="Etisalat QA Swarmio Hive test">
        <classes>
            <class name="HomePageSmokeTestEtisalat"/>
            <class name="CreateTeamEtisalat"/>
            <class name="RegisterNewUserEtisalat"/>
        </classes>
    </test>
    <test name="Ooredoo QA Swarmio Hive test">
        <classes>
            <class name="HomePageSmokeTestOoredoo"/>
            <class name="CreateTeamOoredoo"/>
            <class name="RegisterNewUserOoredoo"/>
        </classes>
    </test>
</suite>