<suite name="Swarmio Hive">
    <test name="Default QA Swarmio Hive test">
        <classes>
<!--            <class name="HomePageSmokeTest"/>-->
<!--            <class name="CreateTeam"/>-->
<!--            <class name="RegisterNewUser"/>-->
<!--            <class name="CreateTournament"/>-->
<!--            <class name="JoinTournament"/>-->
        </classes>
    </test>
    <test name="Globe QA Swarmio Hive test">
        <classes>
<!--            <class name="HomePageSmokeTestGlobe"/>-->
<!--            <class name="CreateTeamGlobe"/>-->
<!--            <class name="RegisterNewUserGlobe"/>-->
            <class name="CreateTournamentGlobe"/>
<!--            <class name="JoinTournamentGlobe"/>-->
        </classes>
    </test>
    <test name="Etisalat QA Swarmio Hive test">
        <classes>
<!--            <class name="HomePageSmokeTestEtisalat"/>-->
<!--            <class name="CreateTeamEtisalat"/>-->
<!--            <class name="RegisterNewUserEtisalat"/>-->
<!--            <class name="CreateTournamentEtisalat"/>-->
<!--            <class name="JoinTournamentEtisalat"/>-->
        </classes>
    </test>
    <test name="Ooredoo QA Swarmio Hive test">
        <classes>
<!--            <class name="HomePageSmokeTestOoredoo"/>-->
<!--            <class name="CreateTeamOoredoo"/>-->
<!--            <class name="RegisterNewUserOoredoo"/>-->
<!--            <class name="CreateTournamentOoredoo"/>-->
<!--            <class name="JoinTournamentOoredoo"/>-->
        </classes>
    </test>
</suite>